{% extends "forms/base.html" %}

{% block form_title %}Add Paycheck{% endblock form_title %}

{% block form_content %}
  {{ render_field(form.date) }}
  {{ render_field(form.company_name) }}
  {{ render_field(form.gross_pay) }}
  {{ render_field(form.federal_income_tax) }}
  {{ render_field(form.social_security_tax) }}
  {{ render_field(form.medicare_tax) }}
  {{ render_field(form.state_income_tax) }}
  {{ render_field(form.health_insurance) }}
  {{ render_field(form.dental_insurance) }}
  {{ render_field(form.traditional_retirement) }}
  {{ render_field(form.roth_retirement) }}
  {{ render_field(form.retirement_match) }}
  {{ render_field(form.net_pay) }}
{% endblock form_content %}
