{% extends "base.html" %}

{% block content %}

<h2>Add Account Type</h2>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}
    {{ form.name }}<br>
    {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.middle_level.label }}
    {{ form.middle_level }}<br>
    {% for error in form.middle_level.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.top_level.label }}
    {{ form.top_level }}<br>
    {% for error in form.top_level.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock content %}
