{% extends "base.html" %}

{% block content %}

<h2>Edit Category</h2>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>Transaction: {{ transaction.description }}</p>
  <p>
    {{ form.category.label }}
    {{ form.category }}<br>
    {% for error in form.category.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<script>
$(document).ready(function() {
    $('#category').select2();
});
</script>
{% endblock content %}
