table.freeze-first-column > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 200px;
}

table.freeze-first-column > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    opacity: 1;
    width: 200px;
}

table.freeze-first-column > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 200px !important;
}

table.freeze-first-column > tbody > tr > td:nth-child(2) {
    padding-left: 200px !important;
}
