{% extends "base.html" %}

{% block content %}
  <div>
    <nav>
      <a href={{ url_for('finance.balance_sheet') }}>Balance Sheet</a> |
      <a href={{ url_for('finance.income_statement') }}>Income Statement</a> |
      <a href={{ url_for('finance.cash_flow') }}>Statement of Cash Flow</a>
    </nav>
  </div>

  <select id="select-month">
    {% for month_num, month_name in month_choices %}
      <option value="{{month_num}}" {% if month_num == 0 %}disabled{% endif %}>{{ month_name }}</option>
    {% endfor %}
  </select>
  <a class="btn btn-sm btn-info" id="navigate_to_month" href="#">View</a>

  {% for category, sub_categories in categories.items() recursive %}
    {% if category != total_object and sub_categories[total_object][0] != 0 %}
      <li>{{ category.name }}: {{ sub_categories[total_object][0] | money(show_as_positive=True) }}
    {% endif %}
    {% if sub_categories is mapping %}
      <ul>{{ loop(sub_categories.items()) }}</ul>
    {% endif %}
    </li>
  {% endfor %}

    <h2>Total</h2>
      <ul>
        <li>Net Increase/Decrease in Cash and Equivalents</li>
        <li>Cash and Equivalents, Beginning of Period: {{ beg_bal }}</li>
        <li>Cash and Equivalents, End of Period</li>
      </ul>
{% endblock %}
