{% extends "base.html" %}

{% block content %}
  <div>
    <nav>
      <a href={{ url_for('finance.balance_sheet') }}>Balance Sheet</a> |
      <a href={{ url_for('finance.income_statement') }}>Income Statement</a> |
      <a href={{ url_for('finance.cash_flow') }}>Statement of Cash Flow</a>
    </nav>
  </div>

  <h2 class="mt-2">{{ page_title }}</h2>

  <table class="table table-responsive freeze-first-column">
    <thead class="thead-dark">
      <tr>
        <th></th>
        {% for _, month_name in month_choices[1:] %}
            <th>{{ month_name }}</th>
        {% endfor %}
        {% if show_total_column %}
            <th>Total</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for title, key in header_row_items %}
        <tr class="table-primary">
            <td>{{ title }}</td>
            {% for income in category_monthly_totals.get(key) %}
                <td>{{ income | money }}</td>
            {% endfor %}
            {% if show_total_column %}
                <td>{{ category_monthly_totals.get(key) | sum | money }}</td>
            {% endif %}
        </tr>
      {% endfor %}  
      {% for category in root_categories|sort(attribute='rank') recursive %}
        {% set category_data = category_monthly_totals.get(category.name, {}) %}
        {% set row_class = "table-secondary" if loop.depth0 == 0 else ("table-dark" if not category.is_transaction_level == 1 else "") %}
        {% if category_data %}
          <tr class="{{row_class}}">
              <td>{{ category.name }}</td>
              {% for total in category_data.values() %}
                  <td>{{ total | money(show_as_positive=True) }}</td>
              {% endfor %}
              {% if show_total_column %}
                <td>{{ category_data.values() | sum | money }}</td>
              {% endif %}
          </tr>
  
          {% if category.children %}
              {{ loop(category.children|sort(attribute='rank')) }}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for title, key in summary_row_items %}
        <tr class="table-primary">
            <td>{{ title }}</td>
            {% for income in category_monthly_totals.get(key) %}
                <td>{{ income | money }}</td>
            {% endfor %}
            {% if show_total_column %}
                <td>{{ category_monthly_totals.get(key) | sum | money }}</td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
