{% extends "base.html" %}

{% block content %}
  <div>
    <nav>
      <a href={{ url_for('finance.balance_sheet') }}>Balance Sheet</a> |
      <a href={{ url_for('finance.income_statement') }}>Income Statement</a> |
      <a href={{ url_for('finance.cash_flow') }}>Statement of Cash Flow</a>
    </nav>
  </div>

  <table class="table table-responsive freeze-first-column">
    <thead class="thead-dark">
      <tr>
        <th></th>
        {% for _, month_name in month_choices[1:] %}
            <th>{{ month_name }}</th>
        {% endfor %}
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for category in root_categories|sort(attribute='rank') recursive %}
        {% set category_data = category_monthly_totals.get(category.name, {}) %}
        {% set row_class = "table-secondary" if loop.depth0 == 0 else ("table-dark" if not category.is_transaction_level == 1 else "") %}
        {% if category_data %}
          <tr class="{{row_class}}">
              <td>{{ category.name }}</td>
              {% for total in category_data.values() %}
                  <td>{{ total | money(show_as_positive=True) }}</td>
              {% endfor %}
              <td>{{ category_data.values() | sum | money }}</td>
          </tr>
  
          {% if category.children %}
              {{ loop(category.children|sort(attribute='rank')) }}
          {% endif %}
        {% endif %}
      {% endfor %}
      <tr class="table-primary">
        <td>Income After Taxes</td>
        {% for income in category_monthly_totals.get('income_after_taxes') %}
          <td>{{ income | money }}</td>
        {% endfor %}
        <td>{{ category_monthly_totals.get('income_after_taxes') | sum | money }}</td>
      </tr>
      <tr class="table-primary">
        <td>Net Income</td>
        {% for net in category_monthly_totals.get('net_income') %}
          <td>{{ net | money }}</td>
        {% endfor %}
        <td>{{ category_monthly_totals.get('net_income') | sum | money }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
