{% extends "base.html" %}

{% block content %}

<h4>Paychecks</h4>
<table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>Company</th>
    <th>Gross Pay</th>
    <th>Federal Income Tax</th>
    <th>Social Security Tax</th>
    <th>Medicare Tax</th>
    <th>State Income Tax</th>
    <th>Health Insurance</th>
    <th>Dental Insurance</th>
    <th>Traditional Retirement</th>
    <th>Roth Retirement</th>
    <th>Retirement Match</th>
    <th>GTL</th>
    <th>Gym Reimbursement</th>
    <th>FSA Contribution</th>
    <th>Net Pay</th>
  </tr>
  {% for paycheck in paychecks | sort(attribute='date') %}
    {% set paycheck_properties = paycheck.get_properties() %}
    <tr>
      <td>{{ paycheck.date | date }}</td>
      <td>{{ paycheck.company_name }}</td>
      <td>{{ paycheck.gross_pay | money }}</td>
      <td>{{ paycheck.federal_income_tax | money }}</td>
      <td>{{ paycheck.social_security_tax | money }}</td>
      <td>{{ paycheck.medicare_tax | money }}</td>
      <td>{{ paycheck.state_income_tax | money }}</td>
      <td>{{ paycheck.health_insurance | money }}</td>
      <td>{{ paycheck.dental_insurance | money }}</td>
      <td>{{ paycheck.traditional_retirement | money }}</td>
      <td>{{ paycheck.roth_retirement | money }}</td>
      <td>{{ paycheck.retirement_match | money }}</td>
      <td>{{ paycheck_properties.get('gtl', 0) | money }}</td>
      <td>{{ paycheck_properties.get('gym_reimbursement', 0) | money }}</td>
      <td>{{ paycheck_properties.get('fsa', 0) | money }}</td>
      <td>{{ paycheck.net_pay | money }}</td>
    </tr>
  {% endfor %}
</table>
<a class="btn btn-primary" href={{ url_for('finance.add_paycheck') }}>Add Paycheck</a>

{% endblock content %}
