{% extends "base.html" %}

{% block content %}

<h4>{{ annual_return.year }} Return On Investments</h4>

<table class="table">
    <tr>
        <th></th>
        <th>Beginning Value</th>
        <th>Cash Flows</th>
        <th>Adj. Cash Flows</th>
        <th>Gains (Losses)</th>
        <th>Ending Value</th>
        <th>Return (%)</th>
        {% if 'benchmark_return_pct' in annual_return %}
        <th>Benchmark Return (%)</th>
        {% endif %}
    </tr>
    {% for monthly_return in annual_return.subperiod_returns %}
        <tr>
            <td>{{ monthly_return.month_name }}</td>
            <td>{{ monthly_return.starting_balance | money }}</td>
            <td>{{ monthly_return.total_cash_flow_amount | money }}</td>
            <td>{{ monthly_return.adjusted_cash_flow_amount | money }}</td>
            <td>{{ monthly_return.gain | money }}</td>
            <td>{{ monthly_return.ending_balance | money }}</td>
            <td>{{ monthly_return.return_pct | percentage }}</td>
            {% if 'benchmark_return_pct' in monthly_return %}
            <td>{{ monthly_return.benchmark_return_pct | percentage }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr class="font-weight-bold">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ annual_return.return_pct | percentage }}</td>
        {% if 'benchmark_return_pct' in annual_return %}
        <td>{{ annual_return.benchmark_return_pct | percentage }}</td>
        {% endif %}
    </tr>
</table>

{% endblock content %}
