{% extends "base.html" %}

{% block content %}

<h4>{{ year }} Return On Investments</h4>

{% if multi_year_return %}
<table class="table">
    <tr>
        <th>Year</th>
        <th>Return</th>
    </tr>
    {% for yearly_return in multi_year_return.yearly_returns %}
        <tr>
            <td><a class="text-dark" href="{{ url_for('finance.stocks_return_data', year=yearly_return.year) }}">{{ yearly_return.year }}</a></td>
            <td>{{ yearly_return.return_pct | percentage }}</td>
        </tr>
    {% endfor %}
    <tr class="font-weight-bold">
        <td>Overall Return</td>
        <td>{{ multi_year_return.return_pct | percentage }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td>Compounded Annual Return</td>
        <td>{{ multi_year_return.annualized_return | percentage }}</td>
    </tr>
</table>
{% else %}
    No data to display
{% endif %}

{% endblock content %}
