{% extends "base.html" %}

{% block content %}

<h4>{{ year }} Return On Investments</h4>

{% if data %}
<table class="table">
    <tr>
        <th>Year</th>
        <th>Return</th>
    </tr>
    {% for value in data.annual_returns %}
        <tr>
            <td><a class="text-dark" href="{{ url_for('finance.stocks_return_data', year=value.year) }}">{{ value.year }}</a></td>
            <td>{{ value.annual_return | percentage }}</td>
        </tr>
    {% endfor %}
    <tr class="font-weight-bold">
        <td>Overall Return</td>
        <td>{{ data.overall_gain | percentage }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td>Compounded Annual Return</td>
        <td>{{ data.compounded_annual_gain | percentage }}</td>
    </tr>
</table>
{% else %}
    No data to display
{% endif %}

{% endblock content %}
