{% extends "base.html" %}

{% block content %}

  <h4>Stocks</h4>
  <a class="btn btn-primary" href={{ url_for('finance.stock_transactions') }}>View Stock Transactions</a>

  <table class="table">
 	<tr>
	  <th>Symbol</th>
	  <th>Quantity</th>
	  <th>Cost Per Share</th>
	  <th>Cost</th>
 	</tr>
	{% for stock_symbol, data in stock_data.items() if stock_symbol != 'Total' %}
	  <tr>
	    <td>{{ stock_symbol }}</td>
	    <td>{{ data.quantity }}</td>
	    <td>{{ data.cost_per_share | money }}</td>
	    <td>{{ data.cost | money }}</td>
	  </tr>
	{% endfor %}
	  <tr>
	    <td>Total</td>
	    <td></td>
	    <td></td>
	    <td>{{ stock_data.get('Total').get('cost') | money }}</td>
	  </tr>
	</table>

{% endblock %}
