{% extends "base.html" %}

{% block content %}

	<h4>Stocks</h4>
	<a class="btn btn-primary" href="{{ url_for('finance.stock_transactions') }}">View Stock Transactions</a>

	<table class="table">
		<tr>
			<th>Symbol</th>
			<th>Quantity</th>
			<th>Cost Per Share</th>
			<th>Cost</th>
			<th>Price Per Share</th>
			<th>Market Value</th>
		</tr>
		{% for stock_symbol, data in stock_data.items() if stock_symbol != 'Total' %}
			<tr>
				<td>{{ stock_symbol }}</td>
				<td>{{ data.quantity }}</td>
				<td>{{ data.cost_per_share | money }}</td>
				<td>{{ data.cost_basis | money }}</td>
				<td>{{ data.latest_price | money }}</td>
				<td>{{ data.market_value | money }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td>Total</td>
			<td></td>
			<td></td>
			<td>{{ stock_data.get('Total').get('cost_basis') | money }}</td>
			<td></td>
			<td>{{ stock_data.get('Total').get('market_value') | money }}</td>
		</tr>
	</table>

{% endblock %}
