{% extends "forms/base_modal.html" %}

{% block modal_title %}{{ type }} Account{% endblock modal_title %}

{% block modal_content %}
  {{ render_field(form.name) }}
  {{ render_field(form.starting_balance) }}
  {{ render_field(form.header_rows) }}
  {{ render_field(form.num_columns) }}
  {{ render_field(form.date_column) }}
  {{ render_field(form.date_format) }}
  {{ render_field(form.description_column) }}
  {{ render_field(form.amount_column) }}
  {{ render_field(form.category_column) }}
  {{ render_field(form.account_category) }}
{% endblock modal_content %}
