<!DOCTYPE html>
<html>
<head>
  <title>Financial</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/936ae461f0.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<header>
    <nav class="navbar bg-dark">
      <a class="navbar-brand text-white" href="{{ url_for('finance.index') }}">Financial</a>
      <div class="nav-item dropdown mr-auto">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Statements
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownToggle">
          <a class="dropdown-item" href="{{ url_for('finance.accounts') }}">Accounts</a>
          <a class="dropdown-item" href="{{ url_for('finance.paychecks') }}">Paychecks</a>
          <a class="dropdown-item" href="{{ url_for('finance.categories') }}">Categories</a>
          <a class="dropdown-item" href="{{ url_for('finance.stocks') }}">Stocks</a>
        </div>
      </div>
      {% if current_user.is_anonymous %}
        <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Login</a>
      {% else %}
        <span class="text-white navbar-text mr-2">{{ current_user.username }}</span>
        <a class="btn btn-primary btn-sm" href="{{ url_for('auth.logout') }}">Logout</a>
      {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
  </header>

  {% block content %}{% endblock content %}

  <div id="modal_slot" role="dialog"></div>

  <script>
    $(document).ready(function(){
      var $nav_dropdown_toggle = $("#navbarDropdownToggle");
      var dropdown_items = $nav_dropdown_toggle.siblings(".dropdown-menu").find(".dropdown-item");
      var url_path_name = window.location.pathname;

      var dropdown_urls = {};
      for (i = 0; i < dropdown_items.length; i++) {
        var $dropdown_item = $(dropdown_items[i]);
        dropdown_urls[$dropdown_item.attr("href")] = $dropdown_item.text();
        if (url_path_name == $dropdown_item.attr("href")) {
          $dropdown_item.addClass("active");
        }
      }

      if (url_path_name in dropdown_urls) {
        $nav_dropdown_toggle.text(dropdown_urls[url_path_name])
      }
    });

    $(document).on("click", "[data-modal-url]", function(e){
      e.preventDefault();
      var $button = $((e.target) ? e.target : e.srcElement).closest("[data-modal-url]");
      var url = $button.data('modalUrl');
      var display_result_id = $button.data('displayResultId');
      var $modal_slot = $("#modal_slot");
      var get = $button.data('get');

      if (get)  {
        $.get(url, function(response) {
          $modal_slot.html(response);
          $modal = $modal_slot.find(".modal").modal('show');
        });
      } else {
        $.ajax({type:'POST', url:url, success: function(response) {
            $modal_slot.html(response);
            $modal = $modal_slot.find(".modal");
            $form = $modal.find("form");
            if(display_result_id){
              $form.data('displayResultId', display_result_id);
            } else {
              $form.data('reload', true);
            }

            $form.data('url', url);
            $form.attr('onsubmit', "return submitForm(event);");
            $modal.modal('show');
        }})
      }
    })

    function submitForm(e) {
        var $form = $((e.target) ? e.target : e.srcElement);
        var url = $form.data('url');
        var display_result_id = $form.data('displayResultId');
        var reload_page = $form.data('reload');

        $.ajax({type:'POST', url: url, data:$form.serialize(), success: function(response) {
          if(display_result_id) {
            $("#" + display_result_id).html(response);
          }
          $("#modal_slot").find(".modal").modal('hide');
          if(reload_page) {
            location.reload();
          }
        }});
        return false;
    }
  </script>

  {% block scripts %}{% endblock scripts %}

</body>
</html>
