<!DOCTYPE html>
<html>
<head>
  <title>Financial Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/936ae461f0.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script>
    function GetURLParameter(sParam) {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++)
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam)
          {
              return sParameterName[1];
          }
      }
      return 0;
    }
  </script>
</head>
<body>
	<header>
		<h1>Annual Report</h1>
    <a href={{ url_for('finance.index') }}>Home</a>
    <a href={{ url_for('finance.accounts') }}>Accounts</a>
    <a href={{ url_for('finance.paychecks') }}>Paychecks</a>
    <a href={{ url_for('finance.categories') }}>Categories</a>
    <a href={{ url_for('finance.account_types') }}>Account Types</a>
    <a href={{ url_for('finance.stocks') }}>Stocks</a>
    {% if current_user.is_anonymous %}
      <a class="btn btn-primary float-right" href={{ url_for('auth.login') }}>Login</a>
    {% else %}
      <h4 class="float-right">{{ current_user.username }}</h4>
      <a class="btn btn-primary float-right" href={{ url_for('auth.logout') }}>Logout</a>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
  </header>
  {% block content %}
  {% endblock %}


  <div id="modal_slot" role="dialog"></div>

  <script>
    $(document).on("click", "[data-modal-url]", function(e){
      var $button = $((e.target) ? e.target : e.srcElement);
      var url = $button.data('modalUrl');
      var display_result_id = $button.data('displayResultId');
      var $modal_slot = $("#modal_slot");

      $.ajax({type:'POST', url:url, success: function(response) {
          $modal_slot.html(response);
          $modal = $modal_slot.find(".modal");
          $form = $modal.find("form");
          if(display_result_id){
            $form.data('displayResultId', display_result_id);
          } else {
            $form.data('reload', true);
          }
    
          $form.data('url', url);
          $form.attr('onsubmit', "return submitForm(event);");
          $modal.modal('show');
      }})
    })

    function submitForm(e) {
        var $form = $((e.target) ? e.target : e.srcElement);
        var url = $form.data('url');
        var display_result_id = $form.data('displayResultId');
        var reload_page = $form.data('reload');

        $.ajax({type:'POST', url: url, data:$form.serialize(), success: function(response) {
          if(display_result_id) {
            $("#" + display_result_id).html(response);
          }
          $("#modal_slot").find(".modal").modal('hide');
          if(reload_page) {
            location.reload();
          }
        }});
        return false;
    }
  </script>

  <script>
    $(document).ready(function(){
      var month_num = parseInt(GetURLParameter('month'))
      $('#select-month').val(month_num)
      if(month_num == 0){
        $('#navigate_to_month').addClass('disabled');
      }

      $('#select-month').on('change', function() {
        var month_value = $('#select-month').val();
        if(month_value != 0){
          $('#navigate_to_month').removeClass('disabled');
          var url = window.location.href.split('?')[0] + '?month=' + month_value
          $('#navigate_to_month').attr('href', url);
        } else {
          $('#navigate_to_month').addClass('disabled');
        }
      });
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
