{% extends "base.html" %}

{% block content %}
  <div>
    <nav>
      <a href={{ url_for('balance_sheet') }}>Balance Sheet</a> |
      <a href={{ url_for('income_statement') }}>Income Statement</a> |
      <a href={{ url_for('cash_flow') }}>Statement of Cash Flow</a>
    </nav>
  </div>

  <select id="select-month">
    {% for month_num, month_name in month_choices %}
      <option value="{{month_num}}" {% if month_num == 0 %}disabled{% endif %}>{{ month_name }}</option>
    {% endfor %}
  </select>
  <a class="btn btn-sm btn-info" id="navigate_to_month" href="#">View</a>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th></th>
        {% for _, month_name in month_choices[1:] %}
          <th>{{ month_name }}</th>
        {% endfor %}
        <th>Total</th>
      </tr>
    </thead>
  {% for category, sub_categories in categories.items() recursive %}
    {% if category != total_object and not sub_categories[total_object]|max == sub_categories[total_object]|min == 0 %}
      <tr>
        <td>{{ category.name }}</td>
        {% for total in sub_categories[total_object] %}
          <td>{{ total | money(show_as_positive=True) }}</td>
        {% endfor %}
        <td>{{ sub_categories[total_object] | sum | money(show_as_positive=True) }}</td>
      </tr>
    {% endif %}

    {% if sub_categories is mapping %}
      {{ loop(sub_categories.items()) }}
    {% endif %}
  {% endfor %}

  <tr>
    <td>Income After Taxes</td>
    {% for income in income_after_taxes %}
      <td>{{ income | money }}</td>
    {% endfor %}
    <td>{{ income_after_taxes | sum | money }}</td>
  </tr>
  <tr>
    <td>Net Income</td>
    {% for net in net_income %}
      <td>{{ net | money }}</td>
    {% endfor %}
    <td>{{ net_income | sum | money }}</td>
  </tr>
  </table>
{% endblock %}
