{% extends "base.html" %}

{% block content %}

<h4>Transactions</h4>
{% if transactions %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Description</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in transactions | sort(attribute='date') %}
				<tr>
					<td>{{ transaction.date | date }}</td>
					<td>{{ transaction.amount | money }}</td>
					<td>{{ transaction.description }}</td>
					<td>
						<span id="category_name_{{ transaction.id }}">{{ transaction.category.name }}</span>
						<button type="button"
										class="fa fa-pencil-square-o"
										data-display-result-id="category_name_{{ transaction.id }}"
										data-url={{ url_for('edit_category', transaction_id=transaction.id) }}
										onclick="getModal(event)">
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
  No transactions to display
{% endif %}

<div id="modal_slot" role="dialog"></div>

<script>
	function getModal(e) {
		var $button = $((e.target) ? e.target : e.srcElement);
		var url = $button.data('url');
		var display_result_id = $button.data('displayResultId');
		var $modal_slot = $("#modal_slot");

		$.ajax({type:'POST', url:url, success: function(response) {
				$modal_slot.html(response);
				$modal = $modal_slot.find(".modal");
				$form = $modal.find("form");

				$form.data('displayResultId', display_result_id);
				$form.data('url', url);
				$form.attr('onsubmit', "return submitForm(event);");
				$modal.modal('show');
		}})
	}

	function submitForm(e) {
			var $form = $((e.target) ? e.target : e.srcElement);
			var url = $form.data('url');
			var display_result_id = $form.data('displayResultId');

			$.ajax({type:'POST', url: url, data:$form.serialize(), success: function(response) {
				$("#" + display_result_id).html(response);
				$("#modal_slot").find(".modal").modal('hide');
			}});
			return false;
	}
</script>
{% endblock %}
