{% extends "base.html" %}

{% block content %}

<h4>Transactions</h4>
{% if transactions %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Description</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in transactions | sort(attribute='date') %}
				<tr>
					<td>{{ transaction.date | date }}</td>
					<td>{{ transaction.amount | money }}</td>
					<td>{{ transaction.description }}</td>
					<td>
						<span id="category_name_{{ transaction.id }}">{{ transaction.category.name }}</span>
						{% set url = url_for('edit_category', transaction_id=transaction.id) %}
						<button type="button" class="fa fa-pencil-square-o" data-display-result-id="category_name_{{ transaction.id }}" data-url={{ url }} onclick="getEditCategoryModal(event)"></button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
  No transactions to display
{% endif %}

<div id="modal_slot" role="dialog"></div>

<script>

	function getEditCategoryModal(e) {
		var button = (e.target) ? e.target : e.srcElement;
		var url = button.getAttribute('data-url');
		var display_result_id = button.getAttribute('data-display-result-id')

		var $modal_slot = $("#modal_slot");

		$.ajax({type:'POST', url:url, success: function(response) {
				$modal_slot.html(response)
				$modal = $modal_slot.find(".modal")
				$form = $modal.find("form")

				$form.attr('data-display-result-id', display_result_id)
				$form.attr('data-url', url)
				$form.attr('onsubmit', "return submitForm(event);")

				$modal.modal('show');
		}})
	}

	function submitForm(e) {
			var form = (e.target) ? e.target : e.srcElement;
			var url_name = form.getAttribute('data-url');
			var display_result_id = form.getAttribute('data-display-result-id');

			$.ajax({type:'POST', url: url_name, data:$(form).serialize(), success: function(response) {
					displayResult(response, display_result_id);
			}});

			return false;
	}

	function displayResult(result, display_result_id) {
		$("#" + display_result_id).html(result)
		$("#modal_slot").find(".modal").modal('hide');
	}
</script>
{% endblock %}
